= form_for @utleietype do |f|
  - if @utleietype.errors.any?
    #error_explanation
      %h2= "#{pluralize(@utleietype.errors.count, "error")} prohibited this utleietype from being saved:"
      %ul
        - @utleietype.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
