= form_for @utleieitem do |f|
  - if @utleieitem.errors.any?
    #error_explanation
      %h2= "#{pluralize(@utleieitem.errors.count, "error")} prohibited this utleieitem from being saved:"
      %ul
        - @utleieitem.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :antall
    = f.number_field :antall
  .field
    = f.label :brand
    = f.text_field :brand
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :references
    = f.text_field :references
  .actions
    = f.submit 'Save'
