%h1 Listing utleieitems

%table
  %thead
    %tr
      %th Antall
      %th Brand
      %th Title
      %th References
      %th
      %th
      %th

  %tbody
    - @utleieitems.each do |utleieitem|
      %tr
        %td= utleieitem.antall
        %td= utleieitem.brand
        %td= utleieitem.title
        %td= utleieitem.references
        %td= link_to 'Show', utleieitem
        %td= link_to 'Edit', edit_utleieitem_path(utleieitem)
        %td= link_to 'Destroy', utleieitem, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Utleieitem', new_utleieitem_path
