= form_for @drink do |f|
  - if @drink.errors.any?
    #error_explanation
      %h2= "#{pluralize(@drink.errors.count, "error")} prohibited this drink from being saved:"
      %ul
        - @drink.errors.full_messages.each do |message|
          %li= message

  .row.mt-3
    .col-12
      %strong
        = f.label :title
      = f.text_field :title, :class => "form-control"
  .row.mt-3
    .col-12
      %strong
        = f.label "Beskrivelse"
        = f.text_field :description, :class => "form-control"
  .row.mt-3
    .col-2
      %strong
        = f.label "Pris:"
    .col-4

      .input-group
        = f.text_field :price, "aria-describedby" => "kroner", :class => "form-control"
        %span.input-group-addon#kroner
          Kr
    .col-6
      %label
        -if @category.count > 0
          = f.select(:category_id, @category.collect{|kategori| [kategori.title, kategori.id]}, {include_blank: "Velg Kategori"}, {class: 'custom-select'})
        -else
          Du må opprette minst en kategori
  .row.mt-3
    .col-12
      %label.custom-file
        = f.file_field :picture, :class => "custom-file-input"
        %span.custom-file-control
  .row.mt-3
    .col-6.pt-3
      = link_to administrator_meny_path do
        %button.btn.btn-warning.btn-block.btn-lg
          %i.fa.fa-reply{"aria-hidden" => "true"}
          Tilbake
      
    .col-6.pt-3
      = f.submit 'Save', :class => "btn btn-success btn-lg btn-block"
