%h1 Listing drinks

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Slug
      %th Price
      %th Category
      %th
      %th
      %th

  %tbody
    - @drinks.each do |drink|
      %tr
        %td= drink.title
        %td= drink.description
        %td= drink.slug
        %td= drink.price
        %td= drink.category
        %td= link_to 'Show', drink
        %td= link_to 'Edit', edit_drink_path(drink)
        %td= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Drink', new_drink_path
