= form_for @omoss do |f|
  - if @omoss.errors.any?
    #error_explanation
      %h2= "#{pluralize(@omoss.errors.count, "error")} prohibited this omoss from being saved:"
      %ul
        - @omoss.errors.full_messages.each do |message|
          %li= message
  .row
    .col-12.pt-3
      %strong
        = f.label "Tittel"
      = f.text_field :title, :class => 'form-control'
  .row
    .col-12.pt-3
      %strong
        = f.label "Ingress / SEO beskrivelse"
      %br
      %span.small
        Beskrivelsen her vil gå i headeren på siden som igjen blir plukket opp av søkemotorer. For at denne skal være optimal, er det fint om teksten her holdes til 160 tegn
      = f.text_area :ingress, :id => 'seodescription', :class => 'form-control'
  .row
    .col-12#seodescriptionfeedback.text-muted.text-right
      Tegn igjen:
      %span#seodescriptioncount
        160
  .row
    .col-12.pt-3
      %strong
        = f.label "Hovedtekst"
      = f.cktext_area :body, :class => 'form-control'
  .row
    .col-6.pt-3
      = link_to administrator_path do
        %button.btn.btn-warning.btn-block
          %i.fa.fa-reply{"aria-hidden" => "true"}
          Tilbake
      
    .col-6.pt-3
      = f.submit 'Lagre', :class => 'btn btn-success btn-block'
