= form_for @bar do |f|
  - if @bar.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bar.errors.count, "error")} prohibited this bar from being saved:"
      %ul
        - @bar.errors.full_messages.each do |message|
          %li= message

  .row.mt-4
    .col-12
      %strong
        = f.label "Navn på etasjen"
      = f.text_field :title, :class => "form-control"
  .row
    .col-12.pt-3
      %strong
        = f.label "SEO beskrivelse"
      %br
      %span.small
        Beskrivelsen her vil gå i headeren på siden som igjen blir plukket opp av søkemotorer. For at denne skal være optimal, er det fint om teksten her holdes til 160 tegn
      = f.text_area :seo_description, :id => 'seodescription', :class => 'form-control'
  .row
    .col-12#seodescriptionfeedback.text-muted.text-right
      Tegn igjen:
      %span#seodescriptioncount
        160
  .row.mt-2
    .col-12
      %strong
        = f.label "beskrivelse av etasjen"
      = f.cktext_area :body, :class => "form-control"
  .row.mt-4
    .col-6
      = link_to bars_path do
        %button.btn.btn-warning.btn-block
          %i.fa.fa-reply{"aria-hidden" => "true"}
          Tilbake
    .col-6
      = f.submit 'Save', :class => "btn btn-success btn-block"
