%footer.container-fluid.bg-light.pb-4{"data-turbolinks-permanent" => true}
	.container
		.row.ml-0.mr-0.justify-content-between.pt-3
			.card.col-12.col-md-5.mb-3
				.card-body
					.card-title
						%h4
							Åpningstider
					.card-text		
						- if @setting.mandag?
							%meta{:itemprop => "openingHours", :content => 'Mo '+@setting.mondayopens+'-'+@setting.mondaycloses}
						- if @setting.tirsdag?
							%meta{:itemprop => "openingHours", :content => 'Tu '+@setting.tuesdayopens+'-'+@setting.tuesdaycloses}
						- if @setting.onsdag?
							%meta{:itemprop => "openingHours", :content => 'We '+@setting.wednesdayopens+'-'+@setting.wednesdaycloses}
						- if @setting.torsdag?
							%meta{:itemprop => "openingHours", :content => 'Th '+@setting.thursdayopens+'-'+@setting.thursdaycloses}
						- if @setting.fredag?
							%meta{:itemprop => "openingHours", :content => 'Fr '+@setting.fridayopens+'-'+@setting.fridaycloses}
						- if @setting.lørdag?
							%meta{:itemprop => "openingHours", :content => 'Sa '+@setting.saturdayopens+'-'+@setting.saturdaycloses}
						- if @setting.søndag?
							%meta{:itemprop => "openingHours", :content => 'Su '+@setting.sundayopens+'-'+@setting.sundaycloses}
						= @setting.openingtimes.html_safe
						.col-12.text-right.p-0
							Aldersgrense:
							%strong
								=@setting.aldersgrense
							år
			%address.card.col-12.col-md-5
				.card-body
					.card-title
						%h4
							Adresse
					.card-text
						.row.mt-3
							.col-lg-4.col-12{:itemprop => "address", :itemscope => true, :itemtype => "http://schema.org/PostalAddress"}
								%span{:itemprop => "streetAddress"}
									= @setting.adresse
								%br
								%span{:itemprop => "postalCode"}
									= @setting.postnr
								\
								%span{:itemprop => "addressRegion"}
									= @setting.poststed
							.col-lg-8.col-12
								%span{:itemprop => "email"}
									= mail_to @setting.epost, encode: "hex", class: "contactmail" do
										= email_robot(@setting.epost)
								%br
								%span{:itemprop => "telephone"}
									(+47)
									%a{:href => "tel:#{@setting.telefonnr}"}
										= @setting.telefonnr
	.row.justify-content-center.mt-4
		.col-10.text-center
			= render 'partials/some'
	.row
		.col-12#map{:image => "#{image_url('marker.png')}"}
	.row.pb-2.text-center.mt-3
		.col-12.credit
			2017 - #{Time.now.year} 
			%a.credit{:href => "http://www.reelmedianordic.com/", :target => "_blank"}
				@reelmedianordic
	



