%footer.container-fluid.bg-light.pb-4{"data-turbolinks-permanent" => true}
	.row.container.justify-content-center.ml-0.mr-0
		.col-10.col-md-6.bg-white.pr-4.pb-2.mt-4
			%h5.pt-2
				Åpningstider:				
			- if @setting.mandag?
				%meta{:itemprop => "openingHours", :content => 'Mo '+@setting.mondayopens+'-'+@setting.mondaycloses}
			- if @setting.tirsdag?
				%meta{:itemprop => "openingHours", :content => 'Tu '+@setting.tuesdayopens+'-'+@setting.tuesdaycloses}
			- if @setting.onsdag?
				%meta{:itemprop => "openingHours", :content => 'We '+@setting.wednesdayopens+'-'+@setting.wednesdaycloses}
			- if @setting.torsdag?
				%meta{:itemprop => "openingHours", :content => 'Th '+@setting.thursdayopens+'-'+@setting.thursdaycloses}
			- if @setting.fredag?
				%meta{:itemprop => "openingHours", :content => 'Fr '+@setting.fridayopens+'-'+@setting.fridaycloses}
			- if @setting.lørdag?
				%meta{:itemprop => "openingHours", :content => 'Sa '+@setting.saturdayopens+'-'+@setting.saturdaycloses}
			- if @setting.søndag?
				%meta{:itemprop => "openingHours", :content => 'Su '+@setting.sundayopens+'-'+@setting.sundaycloses}
			= @setting.openingtimes.html_safe
			.col-12.text-right.p-0
				Aldersgrense:
				%strong
					=@setting.aldersgrense
				år
	.row.justify-content-center.mt-4
		.col-10.text-center
			= render 'partials/some'
	.row.justify-content-center.d-sm-block.d-xs-block.d-md-none
		%address.col-10
			.row.mt-3
				.col-6{:itemprop => "address", :itemscope => true, :itemtype => "http://schema.org/PostalAddress"}
					%span{:itemprop => "streetAddress"}
						= @setting.adresse
					%br
					%span{:itemprop => "postalCode"}
						= @setting.postnr
					\
					%span{:itemprop => "addressRegion"}
						= @setting.poststed
				.col-6.text-right
					%span{:itemprop => "email"}
						= @setting.epost
					%br
					%span{:itemprop => "telephone"}
						= @setting.telefonnr
	.row
		.col-12#map{:image => "#{image_url('marker.png')}"}
	.row.pb-2.text-center.mt-3
		.col-12.credit
			created by: 
			%a{:href => "http://www.reelmedianordic.com/", :target => "_blank"}
				@reelmedianordic
	%script{  :src =>"https://maps.googleapis.com/maps/api/js?key=AIzaSyAIZWXAgJ-kotgLigFHHRJ9V7eHYnEsYRI&callback=initMap"}



