%footer.container-fluid.bg-light.pb-4
	.row.container.justify-content-center.ml-0.mr-0
		.col-10.col-md-6.bg-white.pr-4.pb-2.mt-4
			%h5.pt-2
				Åpningstider:
			= @setting.openingtimes.html_safe
			.col-12.text-right.p-0
				Aldersgrense:
				%strong
					=@setting.aldersgrense
				år
	.row.justify-content-center.mt-4
		.col-10.text-center
			= render 'partials/some'
	.row.justify-content-center.d-sm-block.d-xs-block.d-md-none
		%address.col-10
			.row.mt-3
				.col-6
					= @setting.adresse
					%br
					= @setting.postnr
					\
					= @setting.poststed
				.col-6.text-right
					= @setting.epost
	.row
		.col-12#map{:image => "#{image_url('marker.png')}"}
	.row.pb-2.text-center
		.col-12.credit
			created by: 
			%a{:href => "http://www.reelmedianordic.com/", :target => "_blank"}
				@reelmedianordic
	%script{  :src =>"https://maps.googleapis.com/maps/api/js?key=AIzaSyAIZWXAgJ-kotgLigFHHRJ9V7eHYnEsYRI&callback=initMap"}



