#mainmenu
	= link_to om_internasjonalen_path do
		.menu
			Om oss
	- if @bars.any?
		.menu.dropdown
			Bar
			%i.fa.fa-caret-down{"aria-hidden" => "true"}
			.dropdown-content
				- @bars.each do |b|
					= link_to bar_show_path(b.slug) do
						= b.title
	- if @bookings.any?
		.menu.dropdown
			Booking
			%i.fa.fa-caret-down{"aria-hidden" => "true"}
			.dropdown-content
				- @bookings.each do |c|
					= link_to booking_show_path(c.slug) do
						= c.title
				= link_to tekniskespsifikasjoner_path do
					Tekniske spesifikasjoner
	= link_to kontakt_internasjonalen_path do	
		.menu
			Kontakt


