%nav.bg-light
	.row.justify-content-center
		.col-10.col-md-4.text-left.pt-4
			%h5
				Internasjonalen
			%ul
				%li
					= link_to om_internasjonalen_path do
						Om oss
				%li
					= link_to kontakt_internasjonalen_path do
						Kontakt
		.col-10.col-md-4.pt-4
			%h5
				Bar
			%ul
				- @bars.each do |b|
					%li
						= link_to b.title, bar_path(b.slug)	
		.col-10.col-md-8.text-left.pt-4.pb-4
			%h5
				Booking
			%ul
				- @bookings.each do |c|
					%li
						= link_to c.title, booking_path(c.slug)
				= link_to tekniskespsifikasjoner_path do
					%li
						Tekniske spesifikasjoner
			
