= form_for @tekniskcategory do |f|
  - if @tekniskcategory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tekniskcategory.errors.count, "error")} prohibited this tekniskcategory from being saved:"
      %ul
        - @tekniskcategory.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
