= form_for @tekniskcategory do |f|
  - if @tekniskcategory.errors.any? 
    - @tekniskcategory.errors.full_messages.each do |error|
      = alert_generator(error) 

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
