-provide(:description, "#{@about.ingress}")
-provide(:title, "Om Internasjonalen")
-provide(:canonical, "/ominternasjonalen")
%section.container.mt-4.mb-4
	%article
		.row.mb-4		
			.col-12
				%h2.pb-4.pt-4
					= @about.title
		.row
			.col-12.col-lg-5
				%p
					= @about.body.html_safe
			.col-lg-6.offset-lg-1.pt-3.d-none.d-lg-block
				= image_tag('ominternasjonalen.jpg')
		.row.mt-2
			.col-12.col-lg-5
				= link_to kontakt_internasjonalen_path do
					%button.btn.btn-outline-secondary.btn-block
						Kontaktinformasjon til Internasjonalen
		.row.mt-2
			.col-12.col-lg-5
				%a{:href => "https://www.google.com/maps/place/Internasjonalen/@59.9141892,10.7487952,419m/data=!3m1!1e3!4m13!1m7!3m6!1s0x0:0x0!2zNDXCsDI3JzUxLjAiTiA5wrAxMScyOS4wIkU!3b1!8m2!3d45.464167!4d9.191389!3m4!1s0x0:0x2f311a016cc4580a!8m2!3d59.9145319!4d10.7495843?hl=no" , :target => "_blank"}
					%button.btn.btn-secondary.btn-block
						%i.fa.fa-location-arrow{"aria-hidden" => "true"}
						Ta meg med til Internasjonalen

