-provide(:description, "#{@about.ingress}")
-provide(:title, "#{@setting.slogan}")
-provide(:canonical, "/")


- if @images.count >= 2
	#carouselExampleSlidesOnly.carousel.slide{ 'data-ride'=> "carousel"}
		= render 'partials/page_static_home'
		.carousel-inner
			- @images.each_with_index do |img, i|
				%div.carousel-item{:class => is_active_class(i)}
					%img.d-block.w-100{ :src => img.image_url.url, :alt => "Internasjonalen Oslo Forside bildet #{i}"}


- else
	%section.container-fluid#section-main
		= render 'partials/page_static_home'

