.container
	.row.mt-3.justify-content-center
		%h3
			Åpningstider

	= form_for @setting do |f|
		.row.mt-3#apningstider.justify-content-center
			.col-12.col-md-8.col-lg-6.form-check.mb-2
				.row
					.col-12
						%span.small
							Boksen til venstre hukes av om det er åpent på aktuelle dagen. Ellers føres åpnings og lukketider inn for hver dag. Serveren vil slå sammen dager med like åpningstider og sette dette sammen på riktig måte.
				.row.p-1.pt-2.pb-3.bg-light.text-dark
					.col-1 
						= f.check_box :mandag, {:id => "mondayopen"}, 'true' , 'false'
					.col-3
						Mandag
					.d-flex.mondaytime
						= f.number_field :mandaghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :mandagminute , min: 0, max: 59, :class => "apningstider"
					.col-1.mondaytime.text-left
						\
					.d-flex.mondaytime
						= f.number_field :mandagclosinghour , min: 0, max: 23, :class => "apningstider"
						\ : 
						= f.number_field :mandagclosingminute , min: 0, max: 59, :class => "apningstider"
				.row.p-1.bg-white.text-dark.pt-2.pb-3
					.col-1
						= f.check_box :tirsdag, {:id => "tuesdayopen"}, 'true' , 'false'
					.col-3
						Tirsdag
					.d-flex.tuesdaytime
						= f.number_field :tirsdaghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :tirsdagminute , min: 0, max: 59, :class => "apningstider"
					.col-1.mondaytime.text-left
						\
					.d-flex.tuesdaytime
						= f.number_field :tirsdagclosinghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :tirsdagclosingminute , min: 0, max: 59, :class => "apningstider"
				.row.p-1.bg-light.text-dark.pt-2.pb-3
					.col-1
						= f.check_box :onsdag, {:id => "wednesdayopen"}, 'true' , 'false'
					.col-3
						Ondag
					.d-flex.wednesdaytime
						= f.number_field :onsdaghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :onsdagminute , min: 0, max: 59, :class => "apningstider"
					.col-1.mondaytime.text-left
						\
					.d-flex.wednesdaytime
						= f.number_field :onsdagclosinghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :onsdagclosingminute , min: 0, max: 59, :class => "apningstider"
				.row.p-1.bg-white.text-dark.pt-2.pb-3
					.col-1
						= f.check_box :torsdag, {:id => "thursdayopen"}, 'true' , 'false'
					.col-3
						Torsdag
					.d-flex.thursdaytime
						= f.number_field :torsdaghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :torsdagminute , min: 0, max: 59, :class => "apningstider"
					.col-1.mondaytime.text-left
						\
					.d-flex.thursdaytime
						= f.number_field :torsdagclosinghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :torsdagclosingminute , min: 0, max: 59, :class => "apningstider"
				.row.p-1.bg-light.text-dark.pt-2.pb-3
					.col-1
						= f.check_box :fredag, {:id => "fridayopen"}, 'true' , 'false'
					.col-3
						Fredag
					.d-flex.fridaytime
						= f.number_field :fredaghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :fredagminute , min: 0, max: 59, :class => "apningstider"
					.col-1.mondaytime.text-left
						\
					.d-flex.fridaytime
						= f.number_field :fredagclosinghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :fredagclosingminute , min: 0, max: 59, :class => "apningstider"
				.row.p-1.bg-white.text-dark.pt-2.pb-3
					.col-1
						= f.check_box :lørdag, {:id => "saturdayopen"}, 'true' , 'false'
					.col-3
						Lørdag
					.d-flex.saturdaytime
						= f.number_field :lørdaghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :lørdagminute , min: 0, max: 59, :class => "apningstider"
					.col-1.mondaytime.text-left
						\
					.d-flex.saturdaytime
						= f.number_field :lørdagclosinghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :lørdagclosingminute , min: 0, max: 59, :class => "apningstider"
				.row.p-1.bg-light.text-dark.pt-2.pb-3
					.col-1
						= f.check_box :søndag, {:id => "sundayopen"}, 'true' , 'false'
					.col-3
						Søndag
					.d-flex.sundaytime
						= f.number_field :søndaghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :søndagminute , min: 0, max: 59, :class => "apningstider"
					.col-1.mondaytime.text-left
						\
					.d-flex.sundaytime
						= f.number_field :søndagclosinghour , min: 0, max: 23, :class => "apningstider"
						\:
						= f.number_field :søndagclosingminute , min: 0, max: 59, :class => "apningstider"
				.row.mt-3
					.col-6
						= link_to :back do
							%button.btn.btn-warning.btn-lg.btn-block
								%i.fa.fa-reply{"aria-hidden" => "true"}
								Tilbake
					.col-6
						= f.submit 'lagre', :class => "btn btn-outline-success btn-lg btn-block"