=notice
.row.justify-content-center.mt-4
	.col-12.col-md-10.col-lg-5.mt-4
		%h1
			= @booking.title
		%small
			=link_to edit_booking_path(@booking) do
				%i.fa.fa-edit{"aria-hidden" => "true"}
				Rediger #{@booking.title.downcase}
.row.justify-content-center.mt-4
	.col-12
		- @images.each do |i|
			.row.mt-1
				.col-2
					%a{:href => i.image.url, 'data-lightbox' => @booking.title, 'data-title' => i.description}
						= image_tag i.image.url(:mobile)
					=link_to i, method: :delete, data: { confirm: 'Are you sure?' } do
						%i.fa.fa-trash{"aria-hidden" => "true"}
						slett
.row.justify-content-center.mt-4
	.col-12.col-md-10.col-lg-5.mt-4
		%h4
			Legg til bilde
.row.justify-content-center
	.col-12.col-md-10.col-lg-5
		= form_for @image do |f|
			- if @image.errors.any?
				#error_explanation
					%h2= "#{pluralize(@bookingimage.errors.count, "error")} prohibited this bookingimage from being saved:"
					%ul
						- @bookingimage.errors.full_messages.each do |message|
							%li= message
			= f.hidden_field :bookings_id, :value => @booking.id
			.row.mt-2
				.col-12
					%label.custom-file
						= f.file_field :image, :class => 'custom-file-input'
						%span.custom-file-control
			.row.mt-2
				.col-12
					= f.text_field :description, :class => "form-control", :placeholder => "beskrivelse av bilde"
			.row.mt-2
				.col-12
					= f.text_field :fotograf, :class => "form-control", :placeholder => "fotograf"

			.row.mt-2
				.col-12
					= f.submit 'Legg til', :class => "btn btn-lg btn-block btn-success"

.row.justify-content-center.mt-4
	.col-12.col-md-10.col-lg-5.mt-4
		= link_to administrator_booking_path do
			%button.btn.btn-lg.btn-warning.btn-block
				%i.fa.fa-reply{"aria-hidden" => "true"}				
				Tilbake