.row.justify-content-center
	.col-md-8.col-lg-5.col-12
		.row.pt-2.justify-content-between
			.col-12.small.text-secondary.font-weight-light.mt-3
				%i.fa.fa-user{"aria-hidden" => "true"}
				#{current_user.name}
				|
				%i.fa.fa-calendar{"aria-hidden" => "true"} 
				= Time.now.strftime("%d/%m/%Y")
			.col-12.text-right.mt-3
				= link_to logout_path, method: :delete do
					%button.btn.btn-outline-danger.btn-sm
						%i.fa.fa-sign-out{"aria-hidden" => "true"}
						logg ut
				= link_to administrator_hjelp_path do
					%button.btn.btn-outline-primary.btn-sm
						%i.fa.fa-ambulance{"aria-hidden" => "true"}
						Hjelp!
		.row.pt-3
			.col-12
				= link_to administrator_apningstider_path do
					%button.btn.btn-secondary.btn-block.btn-lg
						Åpningstider
		.row.pt-3
			.col-12
				= link_to edit_omoss_path(@about) do
					%button.btn.btn-secondary.btn-block.btn-lg
						Om oss
		.row.pt-3
			.col-12
				= link_to bars_path do
					%button.btn.btn-secondary.btn-block.btn-lg
						Bar
		.row.pt-3
			.col-12
				= link_to administrator_booking_path do
					%button.btn.btn-secondary.btn-block.btn-lg
						Booking
		.row.pt-3
			.col-12
				= link_to administrator_aldersgrense_path do
					%button.btn.btn-secondary.btn-block.btn-lg
						Aldersgrense
		.row.pt-3
			.col-12
				= link_to administrator_kontaktinfo_path do
					%button.btn.btn-secondary.btn-block.btn-lg
						Kontaktinformasjon
		.row.pt-3
			.col-12
				= link_to users_path do
					%button.btn.btn-secondary.btn-block.btn-lg
						Bruker
					
