.container
	.row.justify-content-center
		.col-12.col-md-6.col-lg-4
			= form_for @setting do |f|
				.row.mt-3
					.col-12
						= f.text_field :adresse, :class => "form-control", :placeholder => 'Sett gatenavn og nummer'
				.row.justify-content-between.mt-3
					.col-5
						= f.text_field :postnr, :class => "form-control", :placeholder => 'Postnr'
					.col-5
						= f.text_field :poststed, :class => "form-control", :placeholder => 'poststed'
				.row.mt-3
					.col-12.input-group.input-group-lg
						%span#email.input-group-addon
							@
						= f.email_field :epost, :class => "form-control", "aria-describedby" => "email"
				.row.mt-3
					.col-12.input-group.input-group-lg
						%span#phone.input-group-addon
							+47
						= f.telephone_field :telefonnr, :class => "form-control", "aria-describedby" => "phone"
				.row.mt-3
					-if @contactpeople.any?
						.col-12
							= f.select(:contact_id, [['Ingen', 0]] + @contactpeople.collect{|c| [c.name, c.id]}, {include_blank: "Velg Kontaktperson" , 
							}, {class: 'custom-select'})

				.row.mt-3
					.col-12.pt-2
						= f.submit 'Lagre', :class => 'btn btn-success btn-block'
				- if @contactpeople.any?
					.row.mt-3
						.col-12
							%h5
								Kontaktpersoner
						%table.table
							%thead
								%tr
									%th
										Navn
									%th
										Posisjon
									%th
							%tbody
								- @contactpeople.each do |cp|							
									%tr
										%td
											%small
												= cp.name
										%td
											%small
												= cp.position
										%td
											= link_to edit_contactperson_path(cp) do
												%i.fa.fa-edit{"aria-hidden" => "true"}
											= link_to cp, method: :delete, data: { confirm: 'Are you sure?' } do
												%i.fa.fa-trash{"aria-hidden" => "true"}
				.row.mt-3
					.col-12
						= link_to new_contactperson_path do
							%button.btn.btn-block.btn-outline-success
								%i.fa.fa-plus{"aria-hidden" => "true"}
								Legg til kontaktperson


				.row.mt-2
					.col-12
						= link_to administrator_path do
							%button.btn.btn-warning.btn-block
								%i.fa.fa-reply{"aria-hidden" => "true"}
								Tilbake