%p#notice= notice

%p
  %b Image:
  = @bookingimage.image
%p
  %b Description:
  = @bookingimage.description
%p
  %b Fotograf:
  = @bookingimage.fotograf
%p
  %b Booking:
  = @bookingimage.booking_id

= link_to 'Edit', edit_bookingimage_path(@bookingimage)
\|
= link_to 'Back', bookingimages_path
