= form_for @tekniskitem do |f|
  - if @tekniskitem.errors.any? 
    - @tekniskitem.errors.full_messages.each do |error|
      = alert_generator(error) 

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :antall
    = f.number_field :antall
  .field
    = f.label :tekniskcategory
    = f.text_field :tekniskcategory
  .field
    = f.label :status
    = f.text_field :status
  .actions
    = f.submit 'Save'
