%h1 Listing tekniskitems

%table
  %thead
    %tr
      %th Title
      %th Antall
      %th Tekniskcategory
      %th Status
      %th
      %th
      %th

  %tbody
    - @tekniskitems.each do |tekniskitem|
      %tr
        %td= tekniskitem.title
        %td= tekniskitem.antall
        %td= tekniskitem.tekniskcategory
        %td= tekniskitem.status
        %td= link_to 'Show', tekniskitem
        %td= link_to 'Edit', edit_tekniskitem_path(tekniskitem)
        %td= link_to 'Destroy', tekniskitem, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Tekniskitem', new_tekniskitem_path
