= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |message|
          %li= message
  .row
    .col-12.mb-3.mt-4
      %strong
        = f.label "Tittel"
      = f.text_field :title, :class => "form-control"
  .row
    .col-12.mb-3
      %strong
        = f.label "Beskrivelse"
      = f.text_area :description, :class => "form-control"
  .actions.mb-3.mt-4
    .row
      .col-6
        = link_to :back do
          %button.btn.btn-outline-warning.btn-block.btn-lg
            %i.fa.fa-reply{"aria-hidden" => "true"}
            Tilbake
      .col-6
        = f.submit 'Lagre', :class => "btn btn-lg btn-outline-success btn-block"
    