!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "no", "xml:lang" => "no"}
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Internasjonalen
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
		%meta{"http-equiv" => "Expires", :content => "30"} 
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
	%body{"itemscope" => true, :itemtype => "http://schema.org/BarOrPub"}
		%meta{:itemprop => "name", :content => "internasjonalen"}
		%meta{:itemprop => "servesCuisine", :content => "Baguetter og små bakevarer"}
		%meta{:itemprop => "paymentAccepted", :content => "Cash, Credit Card"}
		%meta{:itemprop => "priceRange", :content => "$$"}
		%meta{:itemprop => "url", :content => "http://www.internasjonalen.no/"}
		= image_tag("bg1.jpg", :itemprop => "image", :class => "d-none", :alt => "internasjonalen")
		= image_tag("logo.png", :itemprop => "logo", :class => "d-none", :alt => "internasjonalen logo")
		= render 'partials/header'
		= yield
		= render 'partials/footer'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		%script{  :src =>"https://maps.googleapis.com/maps/api/js?key=AIzaSyAIZWXAgJ-kotgLigFHHRJ9V7eHYnEsYRI&callback=initMap"}
