!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "no", "xml:lang" => "no"}
	%head
		= render 'partials/google'
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title 
			= full_title(yield(:title))
		%meta{:content => yield(:description), :name => "description"}
		%link{:rel=>"canonical", :href => canonical(yield(:canonical))}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

		%meta{"http-equiv" => "Expires", :content => "30"} 
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: Rails.env.production?
		
		:plain
			<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
	%body{"itemscope" => true, :itemtype => "http://schema.org/BarOrPub"}
		%meta{:itemprop => "name", :content => "internasjonalen"}
		%meta{:itemprop => "servesCuisine", :content => "Baguetter og små bakevarer"}
		%meta{:itemprop => "paymentAccepted", :content => "Cash, Credit Card"}
		%meta{:itemprop => "priceRange", :content => "$$"}
		%meta{:itemprop => "url", :content => "http://www.internasjonalen.no/"}
		= image_tag("bg1.jpg", :itemprop => "image", :class => "d-none", :alt => "internasjonalen")
		= image_tag("logo.png", :itemprop => "logo", :class => "d-none", :alt => "internasjonalen logo")
		= render 'partials/header'
		= yield
		= render 'partials/footer'
		= alerts
		%script{  :src =>"https://maps.googleapis.com/maps/api/js?key=AIzaSyAIZWXAgJ-kotgLigFHHRJ9V7eHYnEsYRI&callback=initMap", 'data-turbolinks-permanent' => true}
